body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #705798;
    height: 100vh
}

h1 {
    font-family: "Gloria Hallelujah", serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: #A8F9CA;
    transform: rotate(4deg);
    margin-top:-100px;
    margin-bottom: 0px;
}

.border {
    background-color: #F9FFB4;
}

#gameBoard {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; 
    gap: 5px;
    transform: rotate(-1deg);
}

.square {
    font-family: "Life Savers", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 208px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 30px;
    background-color: #705798;
    width:120px;
    height:120px;
}

.circle {
    background-image: url("circle.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cross {
    background-image: url("cross.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#winnerBanner {
    width:600px;
    height:150px;
    position: absolute;
    top: 30px;  
    background-color: #F9FFB4;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Life Savers", serif;
    font-weight: 600;
    font-style: normal;
    color: #705798;
    font-size: 50px;
    transform: rotate(-2deg);
    box-shadow: 0px 4px 12.5px 10px rgba(0, 0, 0, 0.18);
}

button#reset {
    margin-top: 20px;
    font-family: "Life Savers", serif;
    font-weight: 600;
    font-style: normal;
    color: #705798;
    font-size: 25px;
    background-color: #D5C0D7;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    width: 200px;
}

button#reset:active {
    position: absolute; 
    top: 1px;
    left: 1px;
}

div#resetContainer {
    position: relative;
    background-color: red;
    width: 200px;
}